{% extends 'mailing/base.html' %}

{% block content %}

<div class="album py-5 bg-light">
    <form method="post" enctype="multipart/form-data">
        <div class="container">
            <div class="col-12">
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <div class="card mb-5">
                            <div class="card-body">

                                {% csrf_token %}
                                <p> Хотите удалить рассылку "{{ object.name }}"?</p>
                                <button type="submit" class="btn btn-danger">
                                    Подтвердить
                                </button>
                                <a href="{% url 'mailing:mailing' %}" class="btn btn-warning"> Отмена </a>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}