{% extends 'mailing/base.html' %}

{% block content %}
<div class="album py-5 bg-light">
    <div class="container">
        <div class="col-12">
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">
                                {{ object.name }}
                            </h3>
                        </div>
                        <div class="card-body">
                            <table class="table">
                                <tr>
                                    <td>Начало: {{ object.start }}</td>
                                </tr>
                                <tr>
                                    <td>Конец: {{ object.stop }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}